[submodule "Broiler.JS"]
	path = Broiler.JS
	url = https://github.com/Broiler-Platform/Broiler.JS.git
	branch = main
[submodule "Broiler.HTML"]
	path = Broiler.HTML
	url = https://github.com/Broiler-Platform/Broiler.HTML.git
	branch = main
[submodule "Broiler.VM"]
	path = Broiler.VM
	url = https://github.com/Broiler-Platform/Broiler.VM.git
[submodule "Broiler.Layout"]
	path = Broiler.Layout
	url = https://github.com/Broiler-Platform/Broiler.Layout.git
	branch = main
[submodule "Broiler.HtmlBridge"]
	path = Broiler.HtmlBridge
	url = https://github.com/Broiler-Platform/Broiler.HtmlBridge.git
	branch = main
